<!-- Belongs at: /_includes/navigation.html -->
{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}

<!-- Then we build the nav bar. -->
<nav>
    {% for entry in site.data.navigation %}
  [entry.title ]({{ site.baseurl }}{{ entry.url }}){: .btn .btn-purple }
</nav>

